<!DOCTYPE html>
<html>
<head>
	<title>Quiz 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h5>Name - Dev Mehta</h5>
    <h5>Student ID - 1001213810</h5>
	<table>
        <tr>
            <td>
                <h1 id = "message">Welcome</h1>
            </td>
        </tr>
        {#		<tr>#}
        {#			<td style='width: 30%;'><img class = 'newappIcon' src='https://myavantiservices.files.wordpress.com/2015/02/helloworld.gif' height="100px" width="200px">#}
        {#			</td>#}
        {#			#}
        {#		</tr>#}
		<tr>
            <form id="formDelete" action="/total" method="post" enctype=multipart/form-data>
					<input type="submit" value="Total Rows">
            </form>
			<td>
				<br id="formDelete" action="/1000queries" method="post" enctype=multipart/form-data>
                    Enter Latitude: (upto 2 decimal)  <input type="text" name="lat"></br>
					<input type="submit" value="Submit">
				</form>
			</td>
			
		</tr>
		<tr>
			<td>
				<form id="formDelete" action="/state" method="post" enctype=multipart/form-data>
				Enter State Name: <input type="text" name="state">
					<input type="submit" value="Submit">
				</form>
			</td>
			
		</tr>
        <tr>
			<td>
				<form id="formDelete" action="../test3" method="post" enctype=multipart/form-data>
				    Enter State or City Name: <input type="text" name="state2">
                    Enter Minimum enrollment: <input type="text" name="min">
					<input type="submit" value="Submit">
				</form>
			</td>

		</tr>
		<tr>
			<td>
				<h4>Transfer file to db</h4>
			<td>
				
				<a href = "../todb">Click here</a>
				
			</td>
			
		</tr>
	</table>
</body>
</html>
